@model WebApplication.ViewModels.SpeciesViewModel

@{
  ViewBag.Title = "Species";
}

<h2>List of species</h2>

<a asp-action="Create">Add new species</a>

<table class="table table-sm table-striped table-hover">
  <thead>
      <tr>
          <th>
              <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                  LatinName
              </a>
          </th>
          <th>
              <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                  IsEndemic
              </a>
          </th>
          <th>
              <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                  IsAutochthonous
              </a>
          </th>
          <th>
              <a asp-route-sort="4" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                  IsWeed
              </a>
          </th>
          <th>
              <a asp-route-sort="5" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                  IsInvasive
              </a>
          </th>
          <th>
              FullName
          </th>
          <th>
              Genus
          </th>
          <th>
              Family
          </th>
          <th>
              Order
          </th>
          <th>
              Class
          </th>
          <th>
              Division
          </th>
          <th>
              Kingdom
          </th>
          <th>
              <a asp-route-sort="6" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                  Id
              </a>
          </th>

          <th></th>
      </tr>
  </thead>
  <tbody>
    @foreach (var species in Model.Species)
    {
      <tr>
          <td class="text-center">@species.LatinName</td>
          <td class="text-center">@species.IsEndemic</td>
          <td class="text-center">@species.IsAutochthonous</td>
          <td class="text-center">@species.IsWeed</td>
          <td class="text-center">@species.IsInvasive</td>
          <td class="text-center">@species.FullName</td>
          <td class="text-center">@species.Genus</td>
          <td class="text-center">@species.Family</td>
          <td class="text-center">@species.Order</td>
          <td class="text-center">@species.Clas</td>
          <td class="text-center">@species.Division</td>
          <td class="text-center">@species.Kingom</td>
          <td class="text-center">@species.Id</td>
          <td class="btn-group">
              <a asp-action="Edit"
                 asp-route-id="@species.Id"
                 asp-route-page="@Model.PagingInfo.CurrentPage"
                 asp-route-sort="@Model.PagingInfo.Sort"
                 asp-route-ascending="@Model.PagingInfo.Ascending"
                 class="btn btn-sm btn-info" title="Edit"><i class="fas fa-edit"></i></a>

              <form asp-action="Delete" method="post"
                    asp-route-IdSpecies="@species.Id"
                    asp-route-page="@Model.PagingInfo.CurrentPage"
                    asp-route-sort="@Model.PagingInfo.Sort"
                    asp-route-ascending="@Model.PagingInfo.Ascending">
                  <input type="hidden" name="Id" value="@species.Id" />
                  <button type="submit" class="btn btn-sm btn-danger delete" title="Delete"><i class="delete"></i></button>
              </form>
          </td>
      </tr>
    }
  </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (@Model.PagingInfo.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-route-page="@(Model.PagingInfo.CurrentPage-1)" asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending">Previous</a>
            </li>

            <li class="page-item">
                <a class="page-link" asp-route-page="1" asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
        }

        <li class="page-item">
            <a class="page-link selected" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-sort="@Model.PagingInfo.Sort"
               asp-route-ascending="@Model.PagingInfo.Ascending">@Model.PagingInfo.CurrentPage</a>
        </li>

        @if (@Model.PagingInfo.CurrentPage < @Model.PagingInfo.TotalPages)
        {
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item">
                <a class="page-link" asp-route-page="@Model.PagingInfo.TotalPages" asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending">@Model.PagingInfo.TotalPages</a>
            </li>

            <li class="page-item">
                <a class="page-link" asp-route-page="@(Model.PagingInfo.CurrentPage+1)" asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending">Next</a>
            </li>
        }
    </ul>
</nav>