@model WebApplication.ViewModels.ExpeditionViewModel

@{ ViewBag.Title = "Expedition"; }

<h2>List of expeditions</h2>

<a asp-action="Create">Add new expedition</a>

<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    ExpeditionId
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Name
                </a>
            </th>
            <th>
                    Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expedition in Model.Expedition)
        {
<tr>
    <td class="text-center">@expedition.ExpeditionId</td>
    <td class="text-center">@expedition.Name</td>
    <td class="text-left">@expedition.Discription</td>
    <td class="btn-group">
        <a asp-action="Edit"
           asp-route-id="@expedition.ExpeditionId"
           asp-route-page="@Model.PagingInfo.CurrentPage"
           asp-route-sort="@Model.PagingInfo.Sort"
           asp-route-ascending="@Model.PagingInfo.Ascending"
           class="btn btn-sm btn-info" title="Edit"><i class="fas fa-edit"></i></a>
    </td>
    <td class="btn-group">
        <form asp-action="Delete" method="post"
              asp-route-IdExpedition="@expedition.ExpeditionId"
              asp-route-page="@Model.PagingInfo.CurrentPage"
              asp-route-sort="@Model.PagingInfo.Sort"
              asp-route-ascending="@Model.PagingInfo.Ascending">
            <input type="hidden" name="ExpeditionId" value="@expedition.ExpeditionId" />
            <button type="submit" class="btn btn-sm btn-danger delete" title="Delete"><i class="fas fa-trash-alt"></i></button>
        </form>
    </td>
</tr>}
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        @if (@Model.PagingInfo.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-route-page="@(Model.PagingInfo.CurrentPage-1)" asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending">Previous</a>
            </li>

            <li class="page-item">
                <a class="page-link" asp-route-page="1" asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
        }

        <li class="page-item">
            <a class="page-link selected" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-sort="@Model.PagingInfo.Sort"
               asp-route-ascending="@Model.PagingInfo.Ascending">@Model.PagingInfo.CurrentPage</a>
        </li>

        @if (@Model.PagingInfo.CurrentPage < @Model.PagingInfo.TotalPages)
        {
            <li class="page-item"><a class="page-link" href="#">...</a></li>
            <li class="page-item">
                <a class="page-link" asp-route-page="@Model.PagingInfo.TotalPages" asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending">@Model.PagingInfo.TotalPages</a>
            </li>

            <li class="page-item">
                <a class="page-link" asp-route-page="@(Model.PagingInfo.CurrentPage+1)" asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending">Next</a>
            </li>
        }
    </ul>
</nav>
