@model IEnumerable<Museum>
@{ ViewData["title"] = "List of Museums"; }
<h2>List of Museums</h2>

<table class="table table-sm table-striped table-hover" id="tablemuseum">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>country</th>
            <th>city</th>
            <th>streetname</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var museum in Model)
        {
        <tr>
            <td class="text-center">@museum.MuseumId</td>
            <td class="text-center">@museum.Name</td>
            <td class="text-left">@museum.Country</td>
            <td class="text-center">@museum.City</td>
            <td class="text-center">@museum.StreetName</td>
        </tr>}
    </tbody>
</table>

@section styles{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
}

@section scripts{
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script>console.log('a/');</script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}